; IncoPOS.vshost GtkAccelMap rc-file         -*- scheme -*-
; this file is an automated accelerator map dump
;
(gtk_accel_path "<Warehouse>/mnuRepSale" "<Shift>F2")
(gtk_accel_path "<Warehouse>/mnuRepDocumentsPublishedInvoices" "<Shift>F7")
(gtk_accel_path "<Warehouse>/mnuOperInvoicePublishCancel" "<Alt>F7")
(gtk_accel_path "<Warehouse>/mnuOperInvoiceReceive" "<Control>F7")
(gtk_accel_path "<Warehouse>/mnuEditDocsTransfer" "<Control>F5")
(gtk_accel_path "<Warehouse>/mnuEditUsers/btnNew" "F2")
(gtk_accel_path "<Warehouse>/mnuEditGoods" "<Control>s")
(gtk_accel_path "<Warehouse>/mnuEditAdminUserChange" "<Control>0")
(gtk_accel_path "<Warehouse>/mnuEditDevices/btnDelete" "Delete")
(gtk_accel_path "<Warehouse>/mnuRepDelivery" "<Shift>F3")
(gtk_accel_path "<Warehouse>/mnuRepGoodsQttyInDate" "<Control>d")
(gtk_accel_path "<Warehouse>/mnuEditVATGroups/btnDelete" "Delete")
(gtk_accel_path "<Warehouse>/mnuToolsSelect" "F4")
(gtk_accel_path "<Warehouse>/mnuEditVATGroups/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/mnuOperDeliveries" "F3")
(gtk_accel_path "<Warehouse>/mnuWinowCloseAll" "<Shift>F4")
(gtk_accel_path "<Warehouse>/mnuEditPartners/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/mnuEditAdminRevision" "<Control>j")
(gtk_accel_path "<Warehouse>/mnuEditGoods/btnNew" "F2")
(gtk_accel_path "<Warehouse>/mnuOperInvoicePublish" "F7")
(gtk_accel_path "<Warehouse>/mnuEditGoods/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/mnuOperTransfer" "F5")
(gtk_accel_path "<Warehouse>/mnuWinowClose" "<Control>F4")
(gtk_accel_path "<Warehouse>/mnuFileExit" "<Alt>F4")
(gtk_accel_path "<Warehouse>/mnuEditUsers/btnDelete" "Delete")
(gtk_accel_path "<Warehouse>/mnuEditVATGroups/btnNew" "F2")
(gtk_accel_path "<Warehouse>/mnuEditPartners/btnNew" "F2")
(gtk_accel_path "<Warehouse>/mnuFileOpenBase" "<Control>o")
(gtk_accel_path "<Warehouse>/mnuEditDocsDelivery" "<Control>F3")
(gtk_accel_path "<Warehouse>/mnuEditUsers/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/btnSave" "F9")
(gtk_accel_path "<Warehouse>/btnClear" "<Control><Shift>C")
(gtk_accel_path "<Warehouse>/btnAddDiscount" "<Control><Shift>D")
(gtk_accel_path "<Warehouse>/mnuOperCashBook" "<Shift>F11")
(gtk_accel_path "<Warehouse>/mnuOperTradeObject/btnCash" "F9")
(gtk_accel_path "<Warehouse>/mnuOperTradeObject/btnCard" "F11")
(gtk_accel_path "<Warehouse>/mnuOperTradeObject/btnBank" "F12")
(gtk_accel_path "<Warehouse>/mnuOperTradeObject/btnReports" "<Control>R")
(gtk_accel_path "<Warehouse>/mnuRepTransfer" "<Shift>F5")
(gtk_accel_path "<Warehouse>/mnuEditPartners/btnDelete" "Delete")
(gtk_accel_path "<Warehouse>/mnuEditGoods/btnDelete" "Delete")
(gtk_accel_path "<Warehouse>/mnuEditPaysPayments" "<Control>F11")
(gtk_accel_path "<Warehouse>/mnuEditObjects/btnNew" "F2")
(gtk_accel_path "<Warehouse>/mnuEditDocsSale" "<Control>F2")
(gtk_accel_path "<Warehouse>/mnuHelpAbout" "<Control>F1")
(gtk_accel_path "<Warehouse>/mnuEditObjects/btnDelete" "Delete")
(gtk_accel_path "<Warehouse>/mnuRepGoodsQtty" "<Control>k")
(gtk_accel_path "<Warehouse>/mnuHelpHelp" "F1")
(gtk_accel_path "<Warehouse>/mnuRepLastName" "<Control>l")
(gtk_accel_path "<Warehouse>/mnuOperSales" "F2")
(gtk_accel_path "<Warehouse>/mnuEditDevices/btnNew" "F2")
(gtk_accel_path "<Warehouse>/mnuEditObjects/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/mnuEditDevices/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/mnuEditPartners" "<Control>p")
(gtk_accel_path "<Warehouse>/mnuEditAdminPriceRules/btnNew" "F2")
(gtk_accel_path "<Warehouse>/mnuEditAdminPriceRules/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/mnuEditAdminPriceRules/btnDelete" "Delete")
(gtk_accel_path "<Warehouse>/editGroups/btnNew" "F2")
(gtk_accel_path "<Warehouse>/editGroups/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/editGroups/btnDelete" "Delete")
(gtk_accel_path "<Warehouse>/editVATGroups/btnNew" "F2")
(gtk_accel_path "<Warehouse>/editVATGroups/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/editVATGroups/btnDelete" "Delete")
(gtk_accel_path "<Warehouse>/mnuOperProductionComplexRecipes" "")
(gtk_accel_path "<Warehouse>/mnuOperProductionComplexProducing" "")
(gtk_accel_path "<Warehouse>/mnuOperWaste" "")
(gtk_accel_path "<Warehouse>/mnuOperInvoiceReceiveCancel" "")
(gtk_accel_path "<Warehouse>/mnuOperTradeObject" "")
(gtk_accel_path "<Warehouse>/mnuOperTouchScreen" "")
(gtk_accel_path "<Warehouse>/mnuOperDashboard" "")
(gtk_accel_path "<Warehouse>/mnuEditUsers" "")
(gtk_accel_path "<Warehouse>/mnuEditObjects" "")
(gtk_accel_path "<Warehouse>/mnuEditVATGroups" "")
(gtk_accel_path "<Warehouse>/mnuEditDevices" "")
(gtk_accel_path "<Warehouse>/mnuEditPaymentTypes" "")
(gtk_accel_path "<Warehouse>/mnuEditDocsComplexProduction" "")
(gtk_accel_path "<Warehouse>/mnuEditDocsWaste" "")
(gtk_accel_path "<Warehouse>/mnuEditDocsRevision" "")
(gtk_accel_path "<Warehouse>/mnuEditPrintAgainSale" "<Shift><Control>F2")
(gtk_accel_path "<Warehouse>/mnuEditPrintAgainDelivery" "<Shift><Control>F3")
(gtk_accel_path "<Warehouse>/mnuEditPrintAgainComplexProductions" "")
(gtk_accel_path "<Warehouse>/mnuEditPrintAgainTransfer" "")
(gtk_accel_path "<Warehouse>/mnuEditPrintAgainWaste" "")
(gtk_accel_path "<Warehouse>/mnuEditPrintAgainInspection" "")
(gtk_accel_path "<Warehouse>/mnuEditPrintAgainTaxDocumentsInvoice" "<Shift><Control>F7")
(gtk_accel_path "<Warehouse>/mnuEditRegObjects" "")
(gtk_accel_path "<Warehouse>/mnuEditAdminPriceChange" "")
(gtk_accel_path "<Warehouse>/mnuEditAdminPriceRules" "")
(gtk_accel_path "<Warehouse>/mnuEditAdminPermissions" "")
(gtk_accel_path "<Warehouse>/mnuEditAdminRegisterCash" "")
(gtk_accel_path "<Warehouse>/mnuEditAdminFReports" "")
(gtk_accel_path "<Warehouse>/mnuEditAdminFManager" "")
(gtk_accel_path "<Warehouse>/mnuEditAdminDocumentNumbersPerLocation" "")
(gtk_accel_path "<Warehouse>/mnuReportsProductionComplexRecipes" "")
(gtk_accel_path "<Warehouse>/mnuReportsProductionComplexProducing" "")
(gtk_accel_path "<Warehouse>/mnuRepWaste" "")
(gtk_accel_path "<Warehouse>/mnuRepRevision" "")
(gtk_accel_path "<Warehouse>/mnuRepNomenclaturesPartners" "")
(gtk_accel_path "<Warehouse>/mnuRepNomenclaturesGoodsByName" "")
(gtk_accel_path "<Warehouse>/mnuRepNomenclaturesOperators" "")
(gtk_accel_path "<Warehouse>/mnuRepNomenclaturesObjects" "")
(gtk_accel_path "<Warehouse>/mnuRepGoogsPath" "<Control>e")
(gtk_accel_path "<Warehouse>/mnuRepGoodsStockTaking" "")
(gtk_accel_path "<Warehouse>/mnuRepGoodsInvoicedGoods" "")
(gtk_accel_path "<Warehouse>/mnuRepGoodsDelivery" "")
(gtk_accel_path "<Warehouse>/mnuRepGoodsSale" "")
(gtk_accel_path "<Warehouse>/mnuRepGoodsBestProfit" "")
(gtk_accel_path "<Warehouse>/mnuRepPartnersDeliveries" "")
(gtk_accel_path "<Warehouse>/mnuRepPartnersSales" "")
(gtk_accel_path "<Warehouse>/mnuRepPartnersByProfit" "")
(gtk_accel_path "<Warehouse>/mnuRepObjectsDeliveries" "")
(gtk_accel_path "<Warehouse>/mnuRepObjectsSales" "")
(gtk_accel_path "<Warehouse>/mnuRepObjectsByProfit" "")
(gtk_accel_path "<Warehouse>/mnuRepPaymentsByDocuments" "<Control>u")
(gtk_accel_path "<Warehouse>/mnuRepPaymentsByPartners" "")
(gtk_accel_path "<Warehouse>/mnuRepPaymentsDueDates" "")
(gtk_accel_path "<Warehouse>/mnuRepPaymentsChronology" "")
(gtk_accel_path "<Warehouse>/mnuRepPaymentsIncome" "")
(gtk_accel_path "<Warehouse>/mnuRepDocumentsSalesBySum" "")
(gtk_accel_path "<Warehouse>/mnuRepDocumentsDeliveriesBySum" "")
(gtk_accel_path "<Warehouse>/mnuRepDocumentsRevisionsBySum" "")
(gtk_accel_path "<Warehouse>/mnuRepDocumentsReceivedInvoices" "")
(gtk_accel_path "<Warehouse>/mnuRepAdministrationAppLog" "")
(gtk_accel_path "<Warehouse>/mnuToolsSetup" "")
(gtk_accel_path "<Warehouse>/mnuToolsKeyShortcuts" "")
(gtk_accel_path "<Warehouse>/mnuToolsQuickItems" "")
(gtk_accel_path "<Warehouse>/mnuViewToolbar" "")
(gtk_accel_path "<Warehouse>/mnuViewShowTabs" "")
(gtk_accel_path "<Warehouse>/mnuViewStatusbar" "")
(gtk_accel_path "<Warehouse>/mnuHelpLicenceViewer" "")
(gtk_accel_path "<Warehouse>/mnuHelpCheckForUpdates" "")
(gtk_accel_path "<Warehouse>/mnuHelpReportBug" "")
(gtk_accel_path "<Warehouse>/mnuEditPaysPayments/btnNew" "F2")
(gtk_accel_path "<Warehouse>/mnuEditPaysPayments/btnEdit" "F3")
(gtk_accel_path "<Warehouse>/mnuEditPaysPayments/btnDelete" "Delete")
