<?xml version="1.0"?>
<configuration>
	<runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Mono.Cairo" publicKeyToken="0738EB9F132ED756" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
